
*{
    box-sizing: border-box;
}

body{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
margin: 15px 10px;
font-size:  17px;
padding: 10px;
}
.container{
    background-color: #f7f7f7;
    padding: 5px 15px 20px ;
    border: 1px;
    border-radius: 4px;
}

input[type="text"],
select,
textarea
{
width: 30%;
padding: 12px;
border: 1px solid= #000;
border-radius: 4px;
margin: 10px;
}

fieldset{
    margin-left: 5px;
    background-color: #fff;
    border: 1px solid#ccc;
}
.main_heading{
    text-align: center;
}

input[type="submit"]{

    background-color: rgb(2, 153, 103);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 30%;
    margin-left: 5px;

}

.custom-list-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.custom-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.custom-list-item {
    width: 300px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.custom-list-item:hover {
    background-color: #c0c0c0;
}

.list-item-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.list-item-text {
    font-size: 18px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}